/**
 * GitHub Gist Theme
 * Author : Anthony Attard - https://github.com/AnthonyAttard
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

 .theme-gist .hljs {
    display: block;
    background: white;
    padding: 0.5em;
    color: #333333;
    overflow-x: auto;
  }
  
  .theme-gist .hljs-comment,
  .theme-gist .hljs-meta {
    color: #969896;
  }
  
  .theme-gist .hljs-variable,
  .theme-gist .hljs-template-variable,
  .theme-gist .hljs-strong,
  .theme-gist .hljs-emphasis,
  .theme-gist .hljs-quote {
    color: #df5000;
  }
  
  .theme-gist .hljs-keyword,
  .theme-gist .hljs-selector-tag,
  .theme-gist .hljs-type {
    color: #d73a49;
  }
  
  .theme-gist .hljs-literal,
  .theme-gist .hljs-symbol,
  .theme-gist .hljs-bullet,
  .theme-gist .hljs-attribute {
    color: #0086b3;
  }
  
  .theme-gist .hljs-section,
  .theme-gist .hljs-name {
    color: #63a35c;
  }
  
  .theme-gist .hljs-tag {
    color: #333333;
  }
  
  .theme-gist .hljs-title,
  .theme-gist .hljs-attr,
  .theme-gist .hljs-selector-id,
  .theme-gist .hljs-selector-class,
  .theme-gist .hljs-selector-attr,
  .theme-gist .hljs-selector-pseudo {
    color: #6f42c1;
  }
  
  .theme-gist .hljs-addition {
    color: #55a532;
    background-color: #eaffea;
  }
  
  .theme-gist .hljs-deletion {
    color: #bd2c00;
    background-color: #ffecec;
  }
  
  .theme-gist .hljs-link {
    text-decoration: underline;
  }
  
  .theme-gist .hljs-number {
    color: #005cc5;
  }
  
  .theme-gist .hljs-string {
    color: #032f62;
  }
  
  /*
  
  github.com style (c) Vasily Polovnyov <vast@whiteants.net>
  
  */
  
  .theme-github .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
  }
  
  .theme-github .hljs-comment,
  .theme-github .hljs-quote {
    color: #998;
    font-style: italic;
  }
  
  .theme-github .hljs-keyword,
  .theme-github .hljs-selector-tag,
  .theme-github .hljs-subst {
    color: #333;
    font-weight: bold;
  }
  
  .theme-github .hljs-number,
  .theme-github .hljs-literal,
  .theme-github .hljs-variable,
  .theme-github .hljs-template-variable,
  .theme-github .hljs-tag .hljs-attr {
    color: #008080;
  }
  
  .theme-github .hljs-string,
  .theme-github .hljs-doctag {
    color: #d14;
  }
  
  .theme-github .hljs-title,
  .theme-github .hljs-section,
  .theme-github .hljs-selector-id {
    color: #900;
    font-weight: bold;
  }
  
  .theme-github .hljs-subst {
    font-weight: normal;
  }
  
  .theme-github .hljs-type,
  .theme-github .hljs-class .hljs-title {
    color: #458;
    font-weight: bold;
  }
  
  .theme-github .hljs-tag,
  .theme-github .hljs-name,
  .theme-github .hljs-attribute {
    color: #000080;
    font-weight: normal;
  }
  
  .theme-github .hljs-regexp,
  .theme-github .hljs-link {
    color: #009926;
  }
  
  .theme-github .hljs-symbol,
  .theme-github .hljs-bullet {
    color: #990073;
  }
  
  .theme-github .hljs-built_in,
  .theme-github .hljs-builtin-name {
    color: #0086b3;
  }
  
  .theme-github .hljs-meta {
    color: #999;
    font-weight: bold;
  }
  
  .theme-github .hljs-deletion {
    background: #fdd;
  }
  
  .theme-github .hljs-addition {
    background: #dfd;
  }
  
  .theme-github .hljs-emphasis {
    font-style: italic;
  }
  
  .theme-github .hljs-strong {
    font-weight: bold;
  }
  
  /* Ocean Dark Theme */
  /* https://github.com/gavsiu */
  /* Original theme - https://github.com/chriskempson/base16 */
  
  /* Ocean Comment */
  .theme-ocean .hljs-comment,
  .theme-ocean .hljs-quote {
    color: #65737e;
  }
  
  /* Ocean Red */
  .theme-ocean .hljs-variable,
  .theme-ocean .hljs-template-variable,
  .theme-ocean .hljs-tag,
  .theme-ocean .hljs-name,
  .theme-ocean .hljs-selector-id,
  .theme-ocean .hljs-selector-class,
  .theme-ocean .hljs-regexp,
  .theme-ocean .hljs-deletion {
    color: #bf616a;
  }
  
  /* Ocean Orange */
  .theme-ocean .hljs-number,
  .theme-ocean .hljs-built_in,
  .theme-ocean .hljs-builtin-name,
  .theme-ocean .hljs-literal,
  .theme-ocean .hljs-type,
  .theme-ocean .hljs-params,
  .theme-ocean .hljs-meta,
  .theme-ocean .hljs-link {
    color: #d08770;
  }
  
  /* Ocean Yellow */
  .theme-ocean .hljs-attribute {
    color: #ebcb8b;
  }
  
  /* Ocean Green */
  .theme-ocean .hljs-string,
  .theme-ocean .hljs-symbol,
  .theme-ocean .hljs-bullet,
  .theme-ocean .hljs-addition {
    color: #a3be8c;
  }
  
  /* Ocean Blue */
  .theme-ocean .hljs-title,
  .theme-ocean .hljs-section {
    color: #8fa1b3;
  }
  
  /* Ocean Purple */
  .theme-ocean .hljs-keyword,
  .theme-ocean .hljs-selector-tag {
    color: #b48ead;
  }
  
  .theme-ocean .hljs {
    display: block;
    overflow-x: auto;
    background: #2b303b;
    color: #c0c5ce;
    padding: 0.5em;
  }
  
  .theme-ocean .hljs-emphasis {
    font-style: italic;
  }
  
  .theme-ocean .hljs-strong {
    font-weight: bold;
  }
  
  /*
   * Visual Studio 2015 dark style
   * Author: Nicolas LLOBERA <nllobera@gmail.com>
   */
  
   .vs .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
  }
  
  .theme-vs .hljs-keyword,
  .theme-vs .hljs-literal,
  .theme-vs .hljs-symbol,
  .theme-vs .hljs-name {
    color: #569CD6;
  }
  .theme-vs .hljs-link {
    color: #569CD6;
    text-decoration: underline;
  }
  
  .theme-vs .hljs-built_in,
  .theme-vs .hljs-type {
    color: #4EC9B0;
  }
  
  .theme-vs .hljs-number,
  .theme-vs .hljs-class {
    color: #B8D7A3;
  }
  
  .theme-vs .hljs-string,
  .theme-vs .hljs-meta-string {
    color: #D69D85;
  }
  
  .theme-vs .hljs-regexp,
  .theme-vs .hljs-template-tag {
    color: #9A5334;
  }
  
  .theme-vs .hljs-subst,
  .theme-vs .hljs-function,
  .theme-vs .hljs-title,
  .theme-vs .hljs-params,
  .theme-vs .hljs-formula {
    color: #DCDCDC;
  }
  
  .theme-vs .hljs-comment,
  .theme-vs .hljs-quote {
    color: #57A64A;
    font-style: italic;
  }
  
  .theme-vs .hljs-doctag {
    color: #608B4E;
  }
  
  .theme-vs .hljs-meta,
  .theme-vs .hljs-meta-keyword,
  .theme-vs .hljs-tag {
    color: #9B9B9B;
  }
  
  .theme-vs .hljs-variable,
  .theme-vs .hljs-template-variable {
    color: #BD63C5;
  }
  
  .theme-vs .hljs-attr,
  .theme-vs .hljs-attribute,
  .theme-vs .hljs-builtin-name {
    color: #9CDCFE;
  }
  
  .theme-vs .hljs-section {
    color: gold;
  }
  
  .theme-vs .hljs-emphasis {
    font-style: italic;
  }
  
  .theme-vs .hljs-strong {
    font-weight: bold;
  }
  
  /*.hljs-code {
    font-family:'Monospace';
  }*/
  
  .theme-vs .hljs-bullet,
  .theme-vs .hljs-selector-tag,
  .theme-vs .hljs-selector-id,
  .theme-vs .hljs-selector-class,
  .theme-vs .hljs-selector-attr,
  .theme-vs .hljs-selector-pseudo {
    color: #D7BA7D;
  }
  
  .theme-vs .hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
  }
  
  .theme-vs .hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
  }
  