/* page layout */
html, body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* old display for ie11 compatibility */
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 225px 1fr minmax(100px, 40rem) 1fr;
  grid-template-areas: "nav . head ."
                      "nav . main ."
                      "nav foot foot foot";                       
  min-height: 100%;
}

body.post-layout {
  grid-template-columns: 225px 1fr minmax(100px, 40rem) 1fr 225px;
  grid-template-areas: "nav . head . ."
                       "nav . main . toc"
                       "nav foot foot foot foot";
}

header.header,
main.content,
footer.footer {
  padding: 1rem;
}

header.header { grid-area: head }
main.content  { grid-area: main }
footer.footer { grid-area: foot }
nav.sidenav   { grid-area: nav  }
aside.toc     { grid-area: toc  }

main.content {
  position: relative;
}

/* sidenav */
.sidenav {
  background: #0171a1;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 225px;
  overflow-x: hidden;
  padding: 0;
  z-index: 10;
  transition: left .3s ease;
}

.sidenav a {
  color: #e8f6fd;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #0171a1;
  border-left: 4px solid #0171a1;
  transition: color .4s ease, border-left-color .4s ease;
}

.sidenav a svg {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
}

.sidenav a:hover,
.sidenav a.active {
  color: #ffffff;
  border-left-color: #9ae1ff;
}

.sidenav .divider {
  height: 1px;
  background: #ffffff33;
  margin: 5px 18px;
}

@media (max-width: 1100px) {
  body.post-layout {
    grid-template-columns: 225px 1fr minmax(100px, 40rem) 1fr;
    grid-template-areas: "nav . head ."
                         "nav . main ."
                         "nav foot foot foot";
  }
  aside.toc {
    display: none;
  }
}


@media (min-width: 850px) {
  /* had nav toggles by default */
  .page .hamburger {
    display:none
  }
}
@media (max-width: 850px) {
  /* only show nav toggles on small screens */
  .page  .hamburger {
    display:flex
  }

  /* remove nav from grid-template */
  body.page {
    grid-template-columns: 1fr minmax(100px, 40rem) 1fr;
    grid-template-areas: ". head ."
                         ". main ."
                         "foot foot foot";
  }

  /* animated opening by changing left toggle */
  .nav-closed nav.sidenav {
    left: -240px;
  }

  .nav-closed nav.sidenav {
    left: -240px;
  }

  .header .brand {
    justify-content: flex-start;
  }
}    

/* table of contents */
aside.toc {
  position: sticky;
  top: -15px;
  height: 100vh;
  padding: 0px 10px;
  overflow-y: auto;
}
.toc > h3 {
  margin-top: 2.6rem;
}

.toc ol {
  list-style: none;
  padding-left: 0;
}
.toc ol ol {
  padding-left: 15px;
}
.toc ol ol ol {
  padding-left: 0;
}

.toc a {
  color: #436877;
  text-decoration: none;
  position: relative;
  transition: color .3s ease;
}
.toc a:hover {
  color: #1a7498;
}
.toc a::before {
  content: "{";
  color: #1a7498;
  position: absolute;
  left: -11px;
  opacity: 0;
  transition: opacity .3s ease;
}
.toc a:hover::before,
.toc li.active > a::before {
  opacity: 1;
}     

/* typography */
body {
  line-height: 1.6;
  font-size: 16px;
  color: #2d2d2d;
  background: hsl(59, 100%, 99%);
  font-family: 'Noto Serif', serif;
  word-break: break-word;
}

h1,h2,h3 {
  line-height: 1.2;
}

pre, code {
  font-family: 'Ubuntu Mono', monospace;
}
code {
  border-radius: 2px;
  padding: 1px 2px;
  border: 1px solid #ffdeae;
}

pre code {
  width: 100%;
  display: block;
  border: none;
  overflow-x: auto;
  background: #2b303b;
  color: #c0c5ce;
  padding: 0.5em;
  font-size: 1.1em;
}

s {
  text-decoration: none;
  color: #7f7a75;
}

small {
  font-size: .8em;
}

blockquote {
  background: #ffffd7;
  margin: 0;
  padding: 0.1em 1em;
  border-left: 2px solid hsl(198, 72%, 37%);
  background: #f6fcff;
}

blockquote strong {
  color: #066188
}

hr {
  box-shadow: 1px 1px 2px 0px #cec7b8;
  border: 1px solid #cec7b8;
}

/* display list */
dl {
  display: grid;
  grid-template-columns: auto 1fr;
}
dt {
  font-weight: bold;
  margin-bottom: 0.3em;
}


/* utility */
.d-flex {
  display: flex
}
.text-muted {
  color: grey;
}

.split {
  display: flex;
}

.split > * {
  flex: 1;
}

.split hr {
  margin-top: 1.7rem;
}

/* spacing 
https://getbootstrap.com/docs/4.0/utilities/spacing/
*/
.page .m-0 {
  margin: 0;
}
.page .mt-1 {
  margin-top: 1em;
}
.page .mt-2 {
  margin-top: 2em;
}
.page .mt-0 {
  margin-top: 0;
}

.page .list-unstyled {
  list-style: none;
  padding-left: 0;
}


/* links */

.content a, .footer a {
  color: #111;
  padding: 0;
  text-decoration: none;
  background-image: linear-gradient(transparent 0,transparent calc(50% - 8px),rgba(198,238,255,.35) calc(50% - 8px),rgba(198,238,255,.35) 100%);
  transition: background-position 120ms ease-in-out,padding 120ms ease-in-out;
  background-size: 100% 200%;
  background-position: 0 0
}

.content a:hover,
.footer a:hover {
  background-image: linear-gradient(transparent 0,transparent calc(50% - 8px),rgba(198,238,255,1) calc(50% - 8px),rgba(198,238,255,1) 100%);
  background-position: 0 100%
}

.content a.post-title {
    padding: 4px;
}
.content a.post-title::before {
    height:5px;
    bottom: 4px;
}
.content a.post-title:hover::before {
    height: calc(100% - 6px);
}

/* alt links */
.page .page .btn,
.page .footer .btn {
  border: 2px solid hsl(300, 83%, 28%);
  color: hsl(300, 83%, 28%);
  background: transparent;
  border-radius: 2px;
  padding: 1px 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .4s ease;
  transition-property: color, border-color, background;
  /* transition-duration: 0.4s;
  transition-timing-function: ease; */
}
.page .content .btn:hover,
.page .footer .btn:hover {
  color: hsl(300, 83%, 40%);
  border-color: hsl(300, 83%, 36%);
  background: hsla(300, 100%, 99%, 1);
}
.btn svg {
  height: 16px;
  margin-right: 6px;
}

.page .content .btn,
.page .footer .btn {
  background-image: none;
}

.content .direct-link {
  opacity: 0;
  color: grey;
  margin-left: 5px;
  transition: opacity .2s ease;
}

h1:hover .direct-link,
h2:hover .direct-link,
h3:hover .direct-link,
h4:hover .direct-link {
  opacity: 1;
}

/* header */
header.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(148, 100%, 26%);
  text-decoration: none;
  font-size: 2.6rem; 
  font-weight: bold;
  transition: .4s ease color;
}

.brand svg:hover,
.brand .site-title:hover .doc,
.brand .site-title:hover .gov {
  color: hsla(148, 97%, 33%, 1);
}
.brand svg {
    height: 75px;
    width: 75px;
    margin: 0px 20px;
}

.site-title {
  margin-top: -4px;
  margin-left: 1rem;
}
.site-title .doc {
  color: #5b9676;
  font-size: 0.7em;
  
  transform: scaleX(0.8);
}

.site-title .gov {
  font-size: 1.1em;
}

/* section */
section.intro {
  margin-top: 1rem;
  font-size: 1.2em;
}

/* post preview */
.posts {
    padding-left: 0;
    list-style: none;
}

.post {
    display: flex;
    flex-direction: column;
}

.post-title, 
.page-title {
    font-size: 2.1rem;
    font-weight: bold;
    color: #0171a1;
    text-decoration: none;
}
.post-title {
  font-size: 1.7rem;
}

.page-title + .post-meta {
  margin-top: -1.5rem;
}

.post h2 {
  margin-bottom: 0.4em;
  margin-top: 1.6em;
}

.post-meta {
  margin-bottom: .4em;
}

.post-authors {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: inline-flex;
}

.post-author {
  display: flex;
}


.separator {
    margin-right: 6px;
}

.post-date {
    color: #6f6f6f;
}

.page  .taglist {
  margin-top: 1em;
}


/* post display toggle */
.display-toggle {
  display: flex;
  float: right;
  margin-top: 1em;
  border: 1px solid #6d6d6d;
  border-radius: 3px;
}

.display-toggle label:first-child .display-icon {
  border-right: 1px solid #6d6d6d;
  border-radius: 2px 0 0 2px;
}
.display-toggle label:last-child .display-icon {
  border-radius: 0 2px 2px 0;
}

.display-icon {
  width: 35px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.display-icon .bar {
  background: #b7b7b7;
  margin: 2px;
  border-radius: 3px;
  flex: 1 1 auto;
  min-height: 1px;
  transition: background .4s ease;
}

.display-toggle input[type="radio"] {
  /* display: none;  */ /* can't hide because we still need a tab stop */
  height: 0;
  width: 0;
  position: absolute;
}

input:checked + .display-icon {
  background: #5757ff;
  cursor: default;
}

input:checked + .display-icon .bar {
  background: #d4d7ff;
}
input:focus + .display-icon {
  box-shadow: 0 0 3px 1px #2196F3;
}
.display-toggle:focus-within {
  border-color: #2196F3;
  box-shadow: 0 0 2px 0px #2196F3;
}

.display-icon:hover {
  background: #bcbcf1;
}

.display-icon:hover .bar {
  background: #777dcc;
}

.display-list .post-meta, 
.display-list .post-summary {
    display: none;
}

.display-list .post h2 {
    margin-top: 0.3em;
}

/* footer */

footer.footer {
  text-align: center;
  background: hsl(233, 44%, 98%);
}

.nav-links {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.nav-links li a {
  margin: 0px 10px;
  text-decoration: none;
}

.copy-line {
  margin: .4em;
}

/* images */
img {
  max-width: 100%;
  border: 5px solid white;
  box-shadow: 1px 1px 2px 1px #c6c6c6, 0px 0px 4px 1px #c6c6c6;
  border-radius: 3px;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}

.content a img {
  border: none;
}
.content a svg {
  width: 20px;
  height: 20px;
}



/* search form */
form.search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

form.search input {
  height: 43px;
  width: 100%;
  padding: 7px 9px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #d0d0d0;
  background: #f3f3f3;
  font-size: 1.1em;
  margin-top: 2em;
}

.searching form.search input {
  border-radius: 4px 4px 0 0;
}


form.search label {
  margin-left: -35px;
  margin-top: 2em;
  height: 20px;
  color: #676767;
}
form.search svg {
  height: 100%;
}

/* hide x from search input*/
/* clears the 'X' from Internet Explorer */
input.hide-clear[type=search]::-ms-clear,
input.hide-clear[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; 
}

/* clears the 'X' from Chrome */
input.hide-clear[type="search"]::-webkit-search-decoration,
input.hide-clear[type="search"]::-webkit-search-cancel-button,
input.hide-clear[type="search"]::-webkit-search-results-button,
input.hide-clear[type="search"]::-webkit-search-results-decoration {
  display: none; 
}

/* search results */
#search-results:empty {
    display:none;
}

#search-results {
  border: 1px solid #d0d0d0;
  border-radius: 0px 0px 4px 4px;
  padding: .5rem;
  position: absolute;
  background: white;
  left: 16px;
  right: 16px;
  z-index: 3;
}

#search-results > p:first-child {
  margin-top: 0;
}

#search-results > p {
  padding: .5rem;
}

.search-results-list {
  padding-left: 0;
  list-style: none;
}

.search-results-list .search-result {
  margin-bottom: 1rem;
}

.page .content .search-result a {
  background-image: none;
  display: block;
  padding: .5rem;
  border-radius: 4px;
}
.page .content .search-results-list a:hover {
  background-image: none;
}


.search-result a:hover {
  background: hsl(198, 65%, 97%);
}



.search-results-list h2 {
  margin: 0;
  margin-bottom: 0.4em;
  font-size: 1.3em;
}

span.match {
  /* in case we match a url */
  word-break: break-word;
}

.search-result h2 mark,
dt mark {
  background: #dfecf1;
  border-radius: 2px;
  color: #018eca;
}
.search-result .match mark,
dd mark {
  background: none;
  box-shadow: inset 0 -3px 0 0 #018ecad9; /* can replace text-decoration-* styles once supported */
  color: inherit;
}

.search-result .text-muted {
  color: hsl(198, 25%, 52%);
}


button#close-search {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1.5em;
  padding: 2px 6px;
  line-height: 1em;
  background: white;
  cursor: pointer;
  transition: background .4s ease;
}
button#close-search:hover {
  background: #e0e0e0;
}

/* table */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0em;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: hsla(148, 94%, 27%, 1);
  color: rgba(255, 255, 255, 0.91);
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
    position: relative;
}

table tr:nth-child(even){background-color: #fefefe;}

table tr:hover {background-color: #fefefe;}

td .fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}
td svg {
  max-width: 30px;
}



/* categories
  * tags 
  * authors
  * teams
  * projects
  * departments
*/
.category-item a {
  font-weight: bold;
  font-size: 1.2em;
}
.category-count {
  border-radius: 8px;
  background: hsl(148, 24%, 95%);
  font-size: 0.8em;
  padding: 0px 6px;
  display: inline-flex;
  place-content: center;
  align-items: center;
  justify-content: center;
}
.category-description {
  margin-bottom: 1.5rem;
}

/* tag pages */

.page .content .tag-badge {
  border: 1px solid hsl(198, 23%, 52%);
  border-radius: 3px;
  padding: 1px 7px;
  background: hsl(198, 70%, 98%);
  background-image: none;
  transition: background .4s ease;
}


.page .content .tag-badge:hover {
  background: hsl(198, 76%, 93%);
}

/* post tags */

.post-meta .tag {
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.post-meta .tag-badge {
  font-size: 0.9em;
  padding: 0px 5px;
}


/* media queries */
@media (max-width: 800px) {
  .brand { font-size: 2.4rem;  }
}

@media (max-width: 650px) {
  .brand { font-size: 2.2rem; }
}


@media (max-width: 500px) {
  .brand {
    font-size: 2rem;
  }
  .brand svg {
    display:none;
  }
  .site-title {
    margin-left: 1rem;
  }
}

@media (max-width: 380px) {
  .word {
    display:none;
  }
}




/* print styles */
@media print {
  body {
      background: white;
  }
  #footer-nav {
      display: none
  }
  .page .content a {
      background: none;
      text-decoration: underline
  }
  /* .page .content a::after { content: " (" attr(href) ")"; } */
  footer.footer {
      border-top:  1px solid grey;
      background: white;
  }
  blockquote {
      background: white;
  }
  
  
  thead { display: table-row-group }
  tfoot { display: table-row-group }
  /* table tr { break-inside: avoid; } */

}


/* hamburger */
.hamburger {
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  width: 35px;
  height: 30px;
  padding: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.hamburger .bar {
  background: #5d5d5d;
  margin: 2px;
  border-radius: 2px;
  flex: 1 1 auto;
  width: 25px;
}

.hamburger:hover {
  background: #ececec;
}
.sidenav .hamburger:hover {
  background: #0b82b5;
}

.sidenav .hamburger {
  float: right;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
}


.sidenav .hamburger .bar {
  background: none; /*  middle bar */
}
.sidenav .hamburger .bar:first-child {
  background: #fff;
  transform: translateY(8px)rotate(45deg);
}

.sidenav .hamburger .bar:last-child {
  background: #fff;
  transform: translateY(-8px)rotate(-45deg);
}

/* custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}
nav::-webkit-scrollbar {
  width: 5px;
}
aside::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d8d7ca;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a4b67;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f81ab;
}