{# capture the JS content as a Nunjucks variable #}
{% set js %}{% include "assets/scripts/display-toggle.js" %}{% endset %}
{# feed it through our cssmin filter to minify #}
<script type="text/javascript">{{ js | jsmin | safe }}</script>
{# external script for testing purposes #}
{# <script src="/assets/display-toggle.js"></script> #}


<div class="display-toggle">
  <label >
    <input type="radio" name="display-toggle" value="card" checked>
    <div class="display-icon" aria-label="Card">
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </label>
  <label >
    <input type="radio" name="display-toggle" value="list">
    <div class="display-icon" aria-label="List">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </label>
</div>


<ul class="posts">
{%- for post in postList -%}
  <li class="post">
    <h2><a class="post-title" href="{{ post.url }}">{{ post.data.title }}</a></h2>

    <span class="post-meta">
      <span class="post-date">{{ post.data.date | dateDisplay }}</span>
      <span class="post-byline">
        -
        <ul class="post-authors">
        {%- for author in post.data.authors -%}
          <li class="post-author">
            {{ author }}
            
            {% if not loop.last %}<span class="separator">,</span>{%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
      </span>
    </span>
    

    <span class="post-summary">{{ post.data.summary }}</span>
  </li>
{%- endfor -%}
</ul>