<nav class="sidenav">
    <ul class="list-unstyled">
        <li><a href="/">{% include "images/icons/home.svg" %} Home</a></li>
        <li class="divider"></li>
        <li><a href="/tags/">{% include "images/icons/tags.svg" %} Tags</a></li>
        <li><a href="/authors/">{% include "images/icons/user.svg" %} Authors</a></li>
        <li><a href="/teams/">{% include "images/icons/users.svg" %} Teams</a></li>
        <li><a href="/projects/">{% include "images/icons/briefcase.svg" %} Projects</a></li>
        <li><a href="/departments/">{% include "images/icons/landmark.svg" %} Departments</a></li>
        <li><a href="/archive/">{% include "images/icons/archive.svg" %} Archives</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/VermontDepartmentOfHealth/docs/blob/master/README.md">{% include "images/icons/user-edit.svg" %} Write a Post</a></li>
        <li><a href="https://github.com/VermontDepartmentOfHealth/docs/issues">{% include "images/icons/bug-solid.svg" %} Submit an Issue</a></li>
    </ul>
</nav>


<style>



</style>