---
layout: default.njk
---


<h2><a href="/authors/"> {% include "assets/images/icons/fa/arrow-left.svg" %} All Authors</a></h2>

<h1 class="page-title">{{ title }}</h1>

{{ content | safe }}


{% set postList = collections.authors[name].posts %}
{% include "_partials/postList.njk" %}
    