---
layout: default.njk
---
        
<h1 class="page-title">{{title}}</h1>
        
<div class="post-meta">
  <span class="post-date">{{ date | dateDisplay }}</span>
  <span class="post-byline">
    -
    <ul class="post-authors">
    {%- for author in authors -%}
      <li class="post-author">

        {% set authorInfo = collections.authors[author] %}
        {% if authorInfo %}
          <a href="/authors/{{author | lower}}">{{ author }}</a>
        {% else %}
          {{ author }}
        {% endif %}
        
        {% if not loop.last %}<span class="separator">,</span>{%- endif -%}
      </li>
    {%- endfor -%}
    </ul>
  </span>
  
  <ol class="taglist list-unstyled d-flex m-0">
    {% for tag in tags | contentTags %}
      <li class="tag">
        <a href="/tags/{{tag}}" class="tag-badge">{{ tag }}</a>
      </li>
    {% endfor %}
  </ol>


</div>

{{ content | safe }}
    