---
layout: default.njk
---
        
<h1 class="page-title">{{title}}</h1>
        
<div class="post-meta">


  {% if last_modified_date %}
    <div class="post-date"><strong>Created</strong>: {{ create_date | dateDisplay }}</div>
    <div class="post-date"><strong>Updated</strong>: {{ last_modified_date | dateDisplay }}</div>
    <div class="post-date"><strong>Author{% if authors.length > 1 %}s{% endif %}</strong>:
  {% else %}
    <span class="post-date">{{ create_date | dateDisplay }}</span> -
  {% endif %}
  
  <span class="post-byline">
    <ul class="post-authors">
    {%- for author in authors -%}
      <li class="post-author">

        {% set authorInfo = collections.authors[author] %}
        {% if authorInfo %}
          <a href="/authors/{{author | lower}}">{{ author }}</a>
        {% else %}
          {{ author }}
        {% endif %}
        
        {% if not loop.last %}<span class="separator">,</span>{%- endif -%}
      </li>
    {%- endfor -%}
    </ul>
  </span>
  
  {# wrap byline with field label if we have multiple dates #}
  {% if last_modified_date %}
    </div>
  {% endif %}

  <ol class="taglist list-unstyled d-flex m-0">
    {% for tag in tags | contentTags %}
      <li class="tag">
        <a href="/tags/{{tag}}" class="tag-badge">{{ tag }}</a>
      </li>
    {% endfor %}
  </ol>



</div>

{{ content | safe }}
    