---
layout: default.njk
title: "Home Page"
permalink: "index.html"
summary: "A Collection of Overviews, Guidelines, Strategies, Standards, Technologies, and other shareable resources at VDH / AHS / ADS"
---


<section class="intro">
A Collection of Overviews, Guidelines, Strategies, Standards, Technologies, and other shareable resources at
 <abbr title="Vermont Department of Health">VDH</abbr> / 
 <abbr title="Agency of Human Services">AHS</abbr> / 
 <abbr title="Agency of Digital Services">ADS</abbr> 
</section>

        
{% include "_partials/search.njk" %}

<h1 class="page-title mt-2">
  Recent posts <small><a href="/archive/">(view all)</a></small>
</h1>

{% set postList = collections.post | reverse | take(10) %}
{% include "_partials/postList.njk" %}

