<ul class="posts">
{%- for post in postList -%}
  <li class="post">
    {% set page_title = post.data.title or (post.data.renderData and post.data.renderData.title) %}
    <h2><a class="post-title" href="{{ post.url }}">{{ page_title }}</a></h2>

    <span class="post-meta">
      <span class="post-date">{{ post.data.date | dateDisplay }}</span>
      <span class="post-byline">
        -
        <ul class="post-authors">
        {%- for author in post.data.authors -%}
          <li class="post-author">
            {{ author }}
            
            {% if not loop.last %}<span class="separator">,</span>{%- endif -%}
          </li>
        {%- endfor -%}
        </ul>
      </span>
    </span>
    

    <span class="post-summary">{{ post.data.summary }}</span>
  </li>
{%- endfor -%}
</ul>