<nav class="sidenav">

    <button class="hamburger times nav-toggle" type="button" id="navToggleSide" 
            aria-haspopup="true" aria-expanded="false" aria-label="Toggle side navbar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>

    <ul class="list-unstyled">
        <li><a href="/" class='{{ "active" if "/" == page.url }}'>{% include "assets/images/icons/fa/home.svg" %} Home</a></li>
        <li class="divider"></li>
        <li><a href="/tags/" class='{{ "active" if "/tags/" in page.url }}'>{% include "assets/images/icons/fa/tags.svg" %} Tags</a></li>
        <li><a href="/authors/" class='{{ "active" if "/authors/" in page.url }}'>{% include "assets/images/icons/fa/user.svg" %} Authors</a></li>
        <li><a href="/teams/" class='{{ "active" if "/teams/" in page.url }}'>{% include "assets/images/icons/fa/users.svg" %} Teams</a></li>
        <li><a href="/projects/" class='{{ "active" if "/projects/" in page.url }}'>{% include "assets/images/icons/fa/briefcase.svg" %} Projects</a></li>
        <li><a href="/departments/" class='{{ "active" if "/departments/" in page.url }}'>{% include "assets/images/icons/fa/landmark.svg" %} Departments</a></li>
        <li><a href="/archive/" class='{{ "active" if "/archive/" == page.url }}'>{% include "assets/images/icons/fa/archive.svg" %} Archives</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/VermontDepartmentOfHealth/docs/blob/master/CONTRIBUTING.md">{% include "assets/images/icons/fa/user-edit.svg" %} Write a Post</a></li>
        <li><a href="/admin/">{% include "assets/images/icons/fa/user-edit.svg" %} CMS</a></li>
        <li><a href="https://github.com/VermontDepartmentOfHealth/docs/issues/new/choose">{% include "assets/images/icons/fa/bug.svg" %} Give Feedback</a></li>
        <li class="spacer"></li>
        <li><a href="/settings/">{% include "assets/images/icons/fa/cog.svg" %} Settings</a></li>
    </ul>
</nav>
