<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width" > 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    {# Favicons #}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/fav/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/images/icons/fav/safari-pinned-tab.svg" color="#00843d">
    <meta name="msapplication-TileColor" content="#00843d">
    <meta name="msapplication-config" content="/assets/images/icons/fav/browserconfig.xml">
    
    {# Theme color for browser chrome (chrome android) #}
    <meta name="theme-color" content="#00843d">
    <link rel="manifest" href="/manifest.json">

    {# Primary Meta Tags #}
    {% set page_title = title or (renderData and renderData.title) or page.fileSlug %}
    <title>{{page_title}}</title>
    <meta name="title" content="{{page_title}} | doc gov">
    <meta name="description" content="{{summary}}">
    <meta name="robots" content="{{config.metaRobots}}">
    <link rel="canonical" href="{{config.baseUrlCanonical}}{{page.url}}">
    
    {# Open Graph / Facebook #}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{config.baseUrl}}{{page.url}}">
    <meta property="og:title" content="{{page_title}}  | doc gov">
    <meta property="og:description" content="{{summary}}">
    <meta property="og:image" content="{{config.baseUrl}}/assets/images/thumbnail.png">

    {# Twitter #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page_title}}">
    <meta name="twitter:description" content="{{summary}}">
    <meta name="twitter:image" content="{{config.baseUrl}}/assets/images/thumbnail.png">

    {# Structured Content #}
    {# <script type="application/ld+json">{% include ld ignore missing %}</script> #}
    {% if ld %}
        <script type="application/ld+json">{% include ld %}</script>
    {% endif %}

    {# Google Fonts #}
    {# <link href="https://fonts.googleapis.com/css?family=Fira+Code|Noto+Serif|Roboto&display=swap" rel="stylesheet"> #}

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
        {% include "assets/styles/fonts.css" %}
        {% include "assets/styles/styles.css" %}
        {% include "assets/styles/hljs.css" %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style type="text/css">
        {{ css | cssmin | safe }}
        {% tweetStyles %}
    </style>

</head>
{% set displayTOC = tags | isPostType %}
<body class="page no-js page-loading nav-closed {{pageClass}} {% if displayTOC %} toc-layout {% endif %}">

    {# scripts to run asap #}
    {% set js %} {% include "assets/scripts/init.js" %}{% endset %}
    <script type="text/javascript">{{ js | jsmin | safe }}</script>


    {# hide by default - show if offline #}
    <div class="banner banner-dark banner-offline">
        Offline Mode <img src="/assets/images/icons/fa/wifi-slash.svg" class="fa ml-1" alt="WiFi Disonnected">
    </div>

    <header id="header" class="header">
        <button class="hamburger nav-toggle" type="button" id="navToggleBody" 
                aria-haspopup="true" aria-expanded="false" aria-label="Toggle side navbar">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </button>

        <a href="/" aria-label="Home Page" class="brand" >
            {% include "assets/images/vt-book-logo.svg" %}
            <span class="site-title">
                {% set site_title_word = title_word or (renderData and renderData.title_word) %}
                <span class="word">{{site_title_word}}</span> 
                <span class="doc">DOC</span> 
                <span class="gov">gov</span>
            </span>
        </a>


    </header>


    <main class="content">
        
        {{ content | safe }}

    </main>

    {% if displayTOC %}
        <aside class="toc">
            <h3>Contents</h3>
            {{ content | toc | removeHash | removeParen | safe }}
        </aside>    
    {% endif %}
    

    <footer class="footer">
        
        
        <ul id="footer-nav" class="nav-links">
            <li>
                <a class="btn" href="https://github.com/VermontDepartmentOfHealth/docs/tree/master/{{ page.inputPath }}">
                    {% include "assets/images/icons/fa/edit.svg" %}
                    Edit this Page
                </a>
            </li>
            <li>
                <a class="btn" href="https://github.com/VermontDepartmentOfHealth/docs/commits/master/{{ page.inputPath }}">
                    {% include "assets/images/icons/fa/history.svg" %}
                    View Page History
                </a>
            </li>
        </ul>

        <div class="copy-line">
            <span class="copyright">&copy; Vermont Department of Health 2019 </span>
        </div>

    </footer>

        
    {% include "_partials/sidenav.njk" %}

    {# capture the JS content as a Nunjucks variable #}
    {% set js %}
        {% include "assets/scripts/polyfill.js" %}
        {% include "assets/scripts/nav-toggle.js" %}
        {% include "assets/scripts/settings-highlight-theme.js" %}
        {% include "assets/scripts/settings-color-scheme.js" %}
        {% include "assets/scripts/register-service-worker.js" %}
        {% include "assets/scripts/offline.js" %}
        {% include "assets/scripts/copy-snippet.js" %}
        {% include "assets/scripts/tooltip.js" %}
        {% include "assets/scripts/site.js" %}
        {% if pageClass and 'search' in pageClass %}
            {% include "assets/scripts/search.js" %}   
        {% endif %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <script type="text/javascript">{{ js | jsmin | safe }}</script>

    {# we only need scroll spy if we have a table of contents #}
    {% if displayTOC %}
        <script src="/vendor/scripts/gumshoe.js"></script>
        <script src="/assets/scripts/scroll-spy.js"></script>  
    {% endif %}
    


</body>

</html>
