---
layout: default.njk
---

<a href="/presentations/{{ page.fileSlug }}/1/" class="btn btn-hero" >
    {% include "assets/images/icons/fa/play.svg" %}
    Start Presentation
</a>

{{ content | safe }}
