---
layout: default.njk
title_word: Departments
title: All Departments
permalink: "departments/index.html"
---

<h1 class="page-title">{{title}}</h1>

<ol class="category-list category-departments list-unstyled">
  {% for deptartment in collections.departments  %}
    <li class="category-item">
      <a href="{{deptartment.url}}" class="category-name">{{ deptartment.name }}</a>
      {# <span class="category-count">× {{deptartment.posts.length }}</span> #}
      <div class="category-description">{{ deptartment.summary }}</div>
    </li>
  {% endfor %}
</ol>