---
layout: default.njk
title: "Home Page"
permalink: "index.html"
summary: "A Collection of Overviews, Guidelines, Strategies, Standards, Technologies, and other shareable resources at VDH / AHS / ADS"
pageClass: 'search'
---


<section class="intro">
A Collection of Overviews, Guidelines, Strategies, Standards, Technologies, and other shareable resources at
 <abbr title="Vermont Department of Health">VDH</abbr> / 
 <abbr title="Agency of Human Services">AHS</abbr> / 
 <abbr title="Agency of Digital Services">ADS</abbr> 
</section>

        
{% include "_partials/search.njk" %}

<h1 class="page-title mt-2">
  Recent posts
</h1>

{% set postList = collections.post | reverse | take(10) %}
{% include "_partials/postList.njk" %}

{% if collections.post.length > 10 %}
  <hr>
  <h3>Showing latest 10 of {{collections.post.length}} - <a href="/archive/">View All Archives</a></h3>
{% endif %}
