---
layout: default.njk
title_word: Projects
title: All Projects
permalink: "projects/index.html"
---

<h1 class="page-title">{{title}}</h1>

<ol class="category-list category-projects list-unstyled">
  {% for project in collections.projects  %}
    <li class="category-item">
      <a href="{{project.url}}" class="category-name">{{ project.name }}</a>
      {# <span class="category-count">× {{project.posts.length }}</span> #}
      <div class="category-description">{{ project.summary }}</div>
    </li>
  {% endfor %}
</ol>