---
layout: default.njk
title_word: "Settings"
title: "Device Settings"
permalink: "settings/index.html"
summary: "Some minor customizations"
pageClass: settings
---


<h1 class="page-title">{{title}}</h1>

<section class="intro">
Device specific settings are saved in <code>localStorage</code> on this device
</section>

<h3 class="mt-2 mb-0" id="density">Display Density</h3>

<div class="display-settings"> 
  {% include "_partials/displayDensity.njk" %}
</div>

<h3 class="mt-2 mb-0" id="theme">Syntax Highlighting Theme</h3>

<div class="theme-picker">

  <ol class="themes list-unstyled">
    <li class="opt-group">
      <span class="opt-group-title themes-dark">Dark</span>
      <ol class="list-unstyled">
        <li>
          <label >
            <input type="radio" name="theme" value="ocean" id="ocean" checked >
            <span>Ocean</span>
          </label>
        </li>
        <li>
            <label >
              <input type="radio" name="theme" value="vs" id="vs" >
              <span>VS 2015</span>
            </label>
        </li>
      </ol>
    </li>

    <li class="opt-group">
      <span class="opt-group-title themes-light">Light</span>
      <ol class="list-unstyled">
        <li>
          <label >
            <input type="radio" name="theme" value="gist" id="gist" >
            <span>Gist</span>
          </label>
        </li>
        <li>
          <label >
            <input type="radio" name="theme" value="github" id="github" >
            <span>Github</span>
          </label>
        </li>
      </ol>
    </li>

  </ol>

  {% markdown %}
  ```html
  <!doctype html>
  <html lang="en">
      <head>
          <title>doc GOV</title>
      </head>
      <body class="page">
      </body>
  </html>
  ```
  {% endmarkdown %}

</div>



<style type="text/css">
.settings .display-toggle {
  float: none;
}

/* theme picker */
.theme-picker {
    display: flex;
    margin-top: 1rem;
}

.theme-picker pre {
    margin: 0;
    flex-grow: 1;
}

.themes {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.themes label {
    cursor: pointer;
}

.themes .opt-group ol {
    margin-left: 1rem;
}

.themes input[type=radio] {
    height: 0;
    width: 0;
    position: absolute;
    left: -999px;
}

.opt-group .themes-dark {
  width: 7em;
  background: #4c4c4c;
  color: white;
}
.opt-group .themes-light {
  width: 7em;
  background: #f1f1f1;
  color: black;
}
.themes span {
    width: 6em;
    display: inline-block;
    padding: 0px 5px;
    border-radius: 2px;
    background: transparent;
    transition: background .4s ease;
}
.themes :checked + span {
    background: #dce7ff;
    border-left: 2px solid #2565f9;
}

.themes label:hover span {
    background: #cfdaf5;
}

@media (max-width: 650px) {
  .theme-picker {
    flex-direction: column;
  }

  .themes :checked + span {
      border-left: none;
      border-bottom: 2px solid #2565f9;
  }

  .themes {
      flex-direction: row;
      margin-bottom: 1rem;
  }

  .themes span {
    width: auto;
    padding: 0px 5px;
    margin-right: .5rem;
  }
  
}
</style>