---
layout: default.njk
title_word: Teams
title: All Teams
permalink: "teams/index.html"
---

<h1 class="page-title">{{title}}</h1>

<ol class="category-list category-teams list-unstyled">
  {% for team in collections.teams  %}
    <li class="category-item">
      <a href="{{team.url}}" class="category-name">{{ team.name }}</a>
      {# <span class="category-count">× {{team.posts.length }}</span> #}
      <div class="category-description">{{ team.summary }}</div>
    </li>
  {% endfor %}
</ol>