---
layout: default.njk
title_word: "Archive"
title: "All Posts"
summary: "A complete listing of all posts and pages"
---


<h1 class="page-title">
  {{title}}
</h1>

{% set postList = collections.post | reverse %}
{% include "_partials/postList.njk" %}

