---
layout: default.njk
title_word: Authors
title: All Authors
---

<h1 class="page-title">{{title}}</h1>

<ol class="authorlist list-unstyled">
  {% for name, info in collections.authors  %}
    <li class="author">
      <a href="/authors/{{name | lower}}">{{ name }}</a>
      <span class="tag-count">× {{info.posts.length }}</span>
      <div class="author-description">{{ info.summary }}</div>
    </li>
  {% endfor %}
</ol>