---
layout: default.njk
title_word: Authors
title: All Authors
permalink: /authors/index.html
---

<h1 class="page-title">{{title}}</h1>

<ol class="authorlist list-unstyled">
  {% for authorName, authorInfo in authorlist  %}
  {% set authorCount = collections.authors[authorName].posts.length %}
    <li class="author">
      <a href="/authors/{{authorName | lower}}">{{ authorName }}</a>
      <span class="tag-count">× {{authorCount}}</span>
      <div class="author-description">{{ authorInfo.description }}</div>
    </li>
  {% endfor %}
</ol>