---
layout: default.njk
pagination:
  data: authorlist
  size: 1
  alias: author
permalink: /authors/{{ author.name }}/
renderData:
  title: Posts from {{ author.name }}
  title_word: '{{author.name}}'
---

<h2><a href="/authors/"> {% include "images/icons/arrow-left.svg" %} All Authors</a></h2>

<h1 class="page-title">Posts from {{ author.name }}</h1>

<section class="intro">
  {{ author.description }}
</section>


{% set postList = collections.authors[author.name] %}
{% include "_partials/postList.njk" %}
