---
layout: default.njk
pagination:
  data: taglist
  size: 1
  alias: tag
permalink: /tags/{{ tag.name }}/
renderData:
  title: Tagged "{{ tag.name }}"
---
{% set title = "Tagged" + tag.name %}

<h2><a href="/tags/"> {% include "images/icons/arrow-left.svg" %} All Tags</a></h2>

<h1>Tagged “{{ tag.name }}”</h1>

<ol>
  {% set tagPosts = collections[ tag.name ] %}
  {% for post in tagPosts | reverse %}
    <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
  {% endfor %}
</ol>