---
layout: default.njk
title_word: Teams
title: All Teams
---

<h1 class="page-title">{{title}}</h1>

<ol class="category-list category-teams list-unstyled">
  {% for name, info in collections.teams  %}
    <li class="category-item">
      <a href="/teams/{{name | lower}}" class="category-name">{{ name }}</a>
      <span class="category-count">× {{info.posts.length }}</span>
      <div class="category-description">{{ info.summary }}</div>
    </li>
  {% endfor %}
</ol>